@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --white: #fff;
    --base: #F9F9F9;
    --highlight: #ff7a82;
    --border-light: #E4E4E4;
    --white-transparant-80: #FFFFFFCC;
    --alert: #FF3A46;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
}

h1 {
    font-size: 1.7rem;
}
